.blks-bracket-container
  position: relative
  width: 100%
  transform: scale(0.5)
  opacity: 0
  transition: .3s all cubic-bezier(0.22, 1, 0.36, 1)
  margin: 15px 0
  &:hover
    transform: scale(101%)!important
.blks-bracket
  display: flex
  position: relative
  width: 100%
  align-items: center
  justify-content: space-between
  background-color: #29294d
  color: #fff
  border-radius: 6px
  box-shadow: 0 5px 10px rgba(0,0,0,0.1)
  overflow: hidden
  max-width: 100%
  &.first
    background-color: #ff9900
  &.second
    background-color: #49559b
  .blks-avatar
    position: relative
    z-index: 5
    width: 38px
    height: 38px
    overflow: hidden
    img
      width: 100%
  .blks-name
    position: relative
    z-index: 5
    padding: 10px
  .blks-percent
    position: relative
    z-index: 5
    padding: 10px
.blks-winner
  background-color: rgba(0,149,255,1)
.blks-quadBracket
  position: relative
  height: 300px
  display: block
  margin: 30px
.blks-processBar
  position: absolute
  left: 38px
  width: 0%
  top: 0
  bottom: 0
  background-color: #ffdd66
  z-index: 3
  transition: .3s all ease